:root {
  font: 16px / 1 sans-serif;
  --font-family: sofia-pro, sans-serif;
  --pale-blue: #cdf3fe;
  --mid-blue: #ade4f2;
  --teal: #64919d;
  --fudgy: #f5cdab;
  --milk-choc: #a87b54;
  --chartreuse: #eaf59a;
  --pale-grey: #dddddd;
  --bg-image: url(./images/1920x1080.svg);
  --svg-curve: url(./images/64919D_curve_sin.svg);
}

* {
  box-sizing: border-box;
}

.bg-img {
  background-image: var(--bg-image);
  background-size: cover;
  background-repeat: no-repeat;
  // background-position: center;
  background-attachment: fixed;
  background-color: #cdf3fe;
}
a {
  text-decoration: none;
  color: var(--milk-choc);
}

ul {
  padding: 0;
  margin: 0;
}
li {
  list-style-type: none;
  padding: 0.25rem;
  text-orientation: sideways-right;
}
button {
  text-align: center;
  color: var(--milk-choc);
  margin: 0.5rem auto;
  padding: 0.25rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--fudgy);
  font-weight: 700;
}

@media (max-width: 28.875rem) {
  #no-big p {
    display: none;
  }
}

body,
html {
  margin: 0;
  min-height: 100%;
  color: var(--milk-choc);
}

h1 {
  font-size: 2rem;
  font-weight: 500;
}

// header section {
//   text-shadow: 2px 2px 4px var(grey);
// }

header p {
  background-color: var(--mid-blue);
  padding: 0.5rem;
  border-radius: 1rem;
}

header p:nth-child(3) {
  // background-color: var(--pale-blue);
  text-align: right;
}

.top {
  display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  // align-items: left;
  // padding: 0.5rem;
  background-color: var(--mid-blue);
  border-radius: 1rem;
  height: 2rem;
}

.top header p {
  margin: 0;
  padding: 0.5rem 1rem;
  background-color: none;
}

.nav p {
  text-align: right;
  grid-template-areas: '. subhead';
  padding: 0.5rem;
  border-radius: 0.25rem;
  background-color: var(--milk-choc);
  color: var(--pale-blue);
}

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'subhead subhead';
  margin-bottom: 2rem;
  gap: 0.25rem;
  align-items: center;
}

.subhead nav {
  grid-area: subhead;
}

.subhead {
  grid-area: books;
}

.new-input nav {
  display: flex;
  justify-content: center;
  padding: 0.5rem 3rem;
  align-items: center;
}

.new-input nav a {
  transform: translateX(90deg);
}

//  <--search -->
.search {
  display: flex;
  justify-content: center;
  height: 2rem;
}
.search input {
  border: none;
  padding: 0.5rem;
}

//  <-- forms -->

.signIn {
  display: grid;
  gap: 1.25rem;
}

.entry-form {
  display: grid;
  gap: 0.5rem;
}

.form-input {
display: flex;
flex-direction: column;
}

.form-group {
  display: grid;
  width: 100%;
  // gap: 0.5rem;
}

label {
  text-align: left;
  margin-top: 0;
  padding: 0.25rem 1rem;
  border: 2px solid var(--pale-grey);
  border-radius: 0.25rem;
  font-family: var(--font-family);
  background-color: var(--pale-grey);
}

.search > label {
  color: var(--milk-choc);
  font-weight: 700;
}

textarea {
  padding: 0 0.75rem;
  border-radius: 0.5rem;
  background-color: var(--pale-blue);
  font-size: 1rem;
  font-weight: 400;
  color: var(--milk-choc);
  justify-content: flex-end;
  width: 20rem;
  font-family: var(--font-family);
}

//  <-- forms end -->

// <-- small-grid for [photos and previous accessed links] -->
.small-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-gap: 0.5rem;
  margin: 0.5rem;
}

.left {
  background: var(--mid-blue);
  border-radius: 1rem;
  padding: 1.5rem 3rem;
  grid-column-start: 1;
}

.right {
  background: var(--mid-blue);
  border-radius: 1rem;
  padding: 1.5rem 3rem;
  grid-column-start: 2;
  grid-column-end: span col2-end;
}
// also used in DB categories
.large {
  background: var(--mid-blue);
  border-radius: 1rem;
  padding: 3.5rem 5.5rem;
  grid-column: 3/4;
  height: 11rem;
  width: 8rem;
  margin: 0 1rem;
}

// <-- small-grid end -->

// <-- DB Categories-->
.categories {
  display: grid;
  grid-template-columns: 4rem 4rem;
  gap: 0.5rem;
  max-width: fit-content;
}

.categories li {
  background: var(--mid-blue);
  border-radius: 0.5rem;
}

.first-contact {
  display: flex;
  flex-direction: row;
  // flex: 1;
  justify-content: space-evenly;
  align-content: flex-end;
  transform: translate(0, -2rem);
}

.first-contact p {
  transform: translateX(-3rem 0);
}

.categories li:hover,
.items-button:hover,
.large:hover {
  background-color: var(--chartreuse);
  opacity: 0.8;
}
// <-- DB Categories end -->

// <--- books landing page--- >

#nested {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 2.5rem;
  justify-self: center;
}

#nested button {
  padding: 1rem;
  gap: 0.25rem;
  border: 2px solid var(--milk-choc);
}
.text-placement {
  display: flex;
  flex-direction: column;
  padding-right: 1rem;
  align-items: center;
}

.new-input {
  color: var(--chartreuse);
  text-align: end;
}

.search input {
  color: var(--milk-choc);
  background-color: var(--pale-grey);
  border-radius: 0.25rem;
  align-content: stretch;
}
.results {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  list-style-type: none;
  margin: 0 auto;
  padding: 1rem;
  max-width: 25rem;
  // border: 2px solid lime;
  // background-color: var(--teal);
}

.results li button {
  transform: translateX(90deg);
}

.items-button {
  height: 5.28rem;
  width: 3.5rem;
  margin: 1px 1px;
  border-radius: 0.2rem;
  border: none;
  background-color: var(--pale-blue);
  color: var(--milk-choc);
}

.One-list-item {
  display: flex;
  flex-direction: column;
  background-color: var(--pale-grey);
  border-radius: 0.5rem;
  padding: 0.5rem;
}

//  <-- books end -->

.container {
  display: flex;
  flex-flow: column wrap;
  height: 100dvh;
  align-items: center;
  justify-content: space-around;
  flex: 1;
  margin: 0 auto;
  // border: 2px solid yellow;
}
// <-- form-errors -->
.form-error {
  padding: 0.5rem;
  font-size: 1.25rem;
  background-color: var(--chartreuse);
  color: var(--teal);
}

input:required {
  background: var(--chartreuse);
}

p .subhead {
  color: var(--chartreuse);
}

article {
  margin: auto;
  width: 15rem;
}

// <--- Landing --->

footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 3rem;
  padding: 1rem 6rem;
  color: var(--pale-blue);
}
