:root {
  font: 16px / 1 sans-serif;
  --pale-blue: #cdf3fe;
  --mid-blue: #ade4f2;
  --teal: #64919d;
  --fudgy: #f5cdab;
  --milk-choc: #a87b54;
  --chartreuse: #eaf59a;
  --pale-grey: #dddddd;
}

* {
  box-sizing: border-box;
  color: var(--milk-choc);
}

body,
html {
  margin: 0;
  min-height: 100%;
  color: var(--milk-choc);
  font-family: 'Sophia Pro', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  min-height: 100%;
  width: 100%;
  background-color: var(--mid-blue);
  padding: 0;
  overflow: hidden;
}

section {
  position: relative;
  min-height: 25rem;
  width: 100%;
}

.wrapper {
  position: relative;
  max-width: 20rem;
  min-height: 57.88rem;
  background-color: var(--pale-blue);
  display: flex;
  flex-direction: column;
  margin: 0.5rem auto;
  overflow-x: hidden;
}

header {
  position: relative;
  background-color: var(--mid-blue);
  border-radius: 1rem;
  padding: 0 0 0 0.2rem;
  margin: 1rem;
  z-index: 2;
}

#app-title {
  position: absolute;
  top: 7%;
  display: flex;
  flex-direction: column;
  // min-height: 100%;
  background-color: var(--mid-blue);
  padding: 1.5rem;
  border-radius: 0.5rem;
  margin: 1rem;
  z-index: 1;
}

h1 {
  font-size: 2rem;
  font-weight: 500;
  text-shadow: (rgb(167, 165, 165) 3px 1px 3px);
  margin: 1.5rem;
  padding: 0;
  display: flex;
  justify-content: center;
  text-align: end;
}

p {
  // margin: 10px;
  padding: 0;
}

// <------ top above ----- >

.wave_a {
  position: absolute;
  top: -40%;
  // left: 0%;
  width: 26.4vw;
  height: 100vh;
  // background: var(--pale-blue);
  // z-index: 0;
}
.wave_b {
  position: absolute;
  top: -50%;
  width: 26.4vw;
  height: 100vh;
  // background: var(--pale-blue);
}
.text-placement {
  position: absolute;
  display: flex;
  align-items: center;
  width: 26.4vw;
  height: 50vh;
  justify-content: center;
  // border: solid 2px var(--milk-choc);
}

.text-placement p {
  margin: auto;
  // padding: 0.5rem;
}

.button-placement {
  position: absolute;
  top: 10%;
  left: 37%;
  align-items: center;
  // width: 26.4vw;
  // height: 50vh;
  justify-content: center;
  background-color: var(--teal);
  z-index: 3;
}
.flip {
  position: absolute;
  top: -60%;
  background: var(--mid-blue);
  transform: rotate(180deg);
  // border: solid 2px red;
}
// .mid-blu {
//   display: grid;
// }

// .mid-blu p {
//   margin: auto;
// }

button {
  background-color: var(--teal);
  color: var(--pale-blue);
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 10rem;
  font-weight: 700;
  z-index: 2;
}

.layer1 {
  background-image: url('./images/#64919D_sin.svg');
}

.layer2 {
  background-image: url('./images/#64919D_sin.svg');
}

.w-500 {
  font-weight: 500;
}

.mx-width {
  width: 18rem;
}
